<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="title__title"></h2>
            <p class="footer__about-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque culpa unde a necessitatibus ipsa delectus magnam deserunt nulla, repudiandae, nesciunt debitis veniam architecto quasi hic at cupiditate! Totam, aperiam? Saepe.</p>
        </section>
        <address>
            <h2 class="footer__title"></h2>
            <ul>
                <li><i class="fa-solid fa-envelope"></i> email@email.com</li>
                <li><i class="fa-solid fa-phone"></i> (00) 0 0000-0000</li>
                <li><i class="fa-brands fa-square-whatsapp"></i> (00) 0 0000-0000</li>
            </ul>
        </address>
    </div>
    <section class="footer__copyright">
        &copy; todos os direitos reservados
    </section>
</footer>
